
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>printerest</title>
    <link rel="stylesheet" href="/stylesheets/addpost.css">

  </head>
  <body>
    <%- include('./navbar') %>
<div class=" maincontainer">
    <div class="mcontainer">
    <div class="mcard ">
        <h1>Create New Post</h1>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input name="file" type="file">
        <input class="filecap" type="text" name="filecaption" placeholder="Title">
        <textarea name="description" id="description" placeholder="description">
        </textarea>
        <button class="createbutton" type="submit">Create Post</button>
      </form>
    </div>
</div>


</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>