
<head>
   <link rel="stylesheet" href="/stylesheets/navbar.css">
</head>
<body>
    <nav>
      <div class="logo">
        <h5><a href="/home">printerest</a></h5>
		  
      </div>
      <div class="navLink">
        <a href="/profile">Profile</a>
      <a href="/userposts">Posts</a>
     <a href="/logout">Logout</a>
      </div>

    </nav>
</body>
</html>